<!DOCTYPE html>


<!DOCTYPE html>
<html lang="en">
<head>
<title>Home - Home Page | Shopping !s fun - Free Website Template from Templates.com</title>
<meta charset="utf-8">
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<link rel="stylesheet" href="/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

// $(document).on('click', '#add_to_cart', function(e) {
//    alert("Hi");
//    var data = {'id' : 1};
//    $.ajax({
//       type:'POST',
//       data : JSON.stringify(data),
//       contentType:'application/json',
//       url:'/addToCart'
//    }).done(function(res){
//       alert("Success");
//       alert(res);
//    });
// });
$(document).ready(function()
{
   $(".checkout").click(function () 
              {            
               $(".messageLabel").empty();         
               
               var num = $("#cardno").val();
                if(isNaN(num)){
                  alert('Please enter only numbers in card number.'+ num);
                  return false;
                }
                else if(num.length <16 || num.length>16){
                  alert('card number must be a 16 digit number.');
                  return false;
                }
                else
                {
                    return true;
                }
              
            });
          
              var Input = $('#cardno');
              var default_value = Input.val();

              Input.focus(function() {
                  if(Input.val() == default_value) Input.val("");
              }).blur(function(){
              if(Input.val().length == 0) Input.val(default_value);
              });          
              $("#cardno").val()="";
              
            

});



</script>
<!--[if lt IE 7]>
     <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen">
     <script type="text/javascript" src="js/ie_png.js"></script>
     <script type="text/javascript">
        ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');
     </script>
<![endif]-->
<!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->
</head>
<body id="page1">
<div class="wrap">
   <!-- header -->
   <header>
      <div class="container">
         <label for="task1" class="messageLabel" style="font-weight: bold;color: green;"></label>
          <h1><a href="/home">Shopping !S fun</a></h1> 
         <nav>
            <ul>
               <li ><a href="/home" class="m1">Home Page</a></li>
               
               
               <% if(typeof Admin != 'undefined'  ) {%>
                    <% if( Admin) {%>
                      <li><a href="/insertcatalog" class="m4">New Catalog</a></li>
                      <li ><a href="/insertproduct" class="m5">New Product</a></li>
                     <%} %>
                <%} %>
               <li><a href="/usercart" class="m3">Cart</a></li>
               <li><a href="/orderdetails" class="m3">Orders</a></li>
               <li class="last"><a href="/" class="m2">LogOut</a></li>
            </ul>
         </nav>
         <form action="" id="search-form">
            <fieldset>
            <div class="rowElem">
               <!-- <input type="text"> 
               <a href="/login" onClick="document.getElementById('search-form').submit()">Search</a>-->
               <!--  -->
              <% if(typeof username != 'undefined' && username != "" ) {%>
                     <h4>Welcome <%= username %></h4>
               
               <%} %>
            </fieldset>
         </form>
      </div>
   </header>
   <div class="container">
      <!-- aside -->
      <aside>

         <h3></h3>

         <ul class="categories">
          
            <% if(typeof totalcharge != 'undefined' && totalcharge != ""  && totalcharge[0].total != null ) {%>
                      <li><span> <h4>Grand Total: $ <%= totalcharge[0].total %></h4></span></li>
                       <form action="/procedetoorder" method="post" >
                         <li><span><input type="text" name="cardno" id="cardno" class="tb" value="Card Number" tabindex="2" ></input></span></li>
                         <li><span><button class="checkout" tabindex="3"  >checkout</button></span></li>
                      </form>
                    <!-- <a href="/register" >Register</a></div> -->
                 <%} %>
            
         </ul>

     </aside>
      <!-- content -->
      <section id="content">
         <div id="banner">
           <!--  <h2>Professional <span>Online Education <span>Since 1992</span></span></h2> -->
         </div>
         <div class="ic">More Website Templates at TemplateMonster.com!</div>
         <div class="inside">
            <h2> <span> Cart Details</span></h2>
            <ul class="list">

               <% if(typeof cartdata != 'undefined' && cartdata.length > 0 ) {%>
                      <% for(var i = 0; i < cartdata.length; i++) { %>
                            
                                    <li ><span></span>
                                       <h4><%= cartdata[i].name %></h4>

                                       <table>
                                          <!-- <tr>
                                             <td style="height: 50px;">
                                                <%= cartdata[i].prodesc %>
                                             </td>
                                          </tr> -->
                                          <tr>
                                             <td>
                                                Price : $ <%= cartdata[i].productprice %>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Quantity : <%= cartdata[i].cartqty %>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Total : <%= cartdata[i].carttotalcharge %>
                                             </td>
                                          </tr>
                                       </table>
                                    
                                    </li>
                                    
                             
                            
                                
                     <% } %>
               <% } else { %>
                  <h2> <span><h4>No products in cart</h4></span></h2>
                <% } %>
               
               
            </ul>
            

            <!-- <h2>Move Forward <span>With Your Education</span></h2>
            <p><span class="txt1">Student’s Site</span> is a free web template created by TemplateMonster.com team. This website template is optimized for 1024X768 screen resolution. </p>
            <div class="img-box"><img src="images/1page-img.jpg">This website template can be delivered in two packages - with PSD source files included and without them. If you need PSD source files, please go to the template download page at TemplateMonster to leave the e-mail address that you want the template ZIP package to be delivered to.</div>
            <p class="p0">This website template has several pages: <a href="index.html">Home</a>, <a href="about-us.html">About us</a>, <a href="articles.html">Articles</a> (with Article page), <a href="contact-us.html">Contact us</a> (note that contact us form – doesn’t work), <a href="sitemap.html">Site Map</a>.</p> -->
         </div>
      </section>
   </div>
</div>
<!-- footer -->
<footer>
   <div class="container">
      <div class="inside">
         <div class="wrapper">
            <div class="fleft">24/7 Customer Service <span>4089871206</div>
            <!-- <div class="aligncenter"><a rel="nofollow" href="http://www.templatemonster.com" class="new_window">Website template</a> designed by TemplateMonster.com<br>
               <a href="http://www.templates.com/product/3d-models/" class="new_window">3D Models</a> provided by Templates.com</div> -->
         </div>
      </div>
   </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
